/* Comportamento suave ao rolar */
html {
  scroll-behavior: smooth;
}

/* Corpo da página */
body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: linear-gradient(to right, #1f1f1f, #2c3e50); /* Combina com o tema escuro */
  color: #f0f0f0;
  line-height: 1.6;
}

/* Reset e box-sizing padrão */
* {
  box-sizing: border-box;
}
